body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: darkgray;
}

header {
    text-align: center;
    background-color: green;
    height: 100px;
}

header h1 {
    padding: 25px 0px;
}

#settings {
    position: relative;
    left: 10px;
    top: -600px;
}

#game-board {
    height: 600px;
    padding: 10px;
    justify-content: center;
}

#game-board section {
    justify-content: center;
}

#game-board div {
    border-style: solid;
    border-width: 5px;
    height: 60px;
    width: 60px;
}

#player-location {
    background-color: lime;
}

#player-tail {
    background-color: green;
}

#food {
    background-color: red;
}